{% extends 'layout/base.html' %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='css/chuyenBays.css')}}" , rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>


</script>
{% endblock %}

{% block content %}

<div style="margin:auto; align-items:center; justify-content:center">
    <div class="text-bg-primary" style="text-align:center; padding: 1rem">
        <p class="h1">Room Booking</p>
    </div>

    <br>
    <br>
        <div class=" col-md-8">
            <div class="mb-3 mt-3" style="display:flex">
                <div class="col-md-5">
                    <label for="checkInDate" class="text-primary">Check-in Date                        <pr class="text-danger">*</pr>
                    </label>
                    <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                        <input type="datetime-local" class="form-control" id="checkInDate"
                               name="checkInDate" onchange="compareDate()" required>
                        <div class="checkInDate" id="checkInDate"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="checkOutDate" class="text-primary">Check-out Date                        <pr class="text-danger">*</pr>
                    </label>
                    <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                        <input type="datetime-local" class="form-control" id="checkOutDate"
                               name="checkOutDate" onchange="compareDate()" required>
                        <div class="checkOutDat" id="checkOutDate"></div>
                    </div>
                    </div>
                </div>
            </div>
             <div class="mb-3 mt-3 sm-1 w-50" style="display:flex">
                <select class="form-select mt-3 mb-3" aria-label="Default select example">
                    <option selected>Select room type</option>
                    {% for r in room_type %}
                        <option value="{{r}}">{{r}}</option>
                    {% endfor %}
                  </select>
                <div class="col-md-5">
                    <div class="form-floating mb-3 mt-3 ml-3">
                        <input type="number" value="1" class="form-control" id="guest" name="guest" >
                        <label for="guest">Guest</label>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="hasForeigner">
                <label class="form-check-label" for="hasForeigner">
                     Has foreigner?
                </label>
            </div>
                <div class="col-md-2">
                    <div class="form-floating mb-3 mt-3 ml-3">
                        <input type="text" value="" class="form-control" id="phone" name="phone" >
                        <label for="phone">Phone</label>
                    </div>
                </div>
            <div class="mb-3 mt-3" style="display:flex">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="description" name="description" >
                        <label for="Description">Description</label>
                    </div>
                </div>
            </div>
            <div class="display">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
</div>
<script>
    $('#arriveDate').prop('min', function(){
       return new Date().toJSON().split('T')[0];
    });
    $('#departureDate').prop('min', function(){
       return new Date().toJSON().split('T')[0];
    });
    function compareBookingDate() {
        var bookingDate = new Date.now();
        var checkOut = document.getElementById("checkOutDate").value;
        if ((bookingDate.getTime() - new Date(checkIn).getTime()) > 28) {
              alert("Check out date should not over 28 day from booking date");
              document.getElementById("checkOutDate").value = null;
              return false;
         }
    }


   function compareDate() {
       var checkIn = document.getElementById("checkInDate").value;
       var checkOut = document.getElementById("checkOutDate").value;
       if ((new Date(checkOut).getTime() - new Date(checkIn).getTime()) > 28) {
             alert("Check out date should not over 28 day from check in date");
             document.getElementById("checkOutDate").value = null;
             document.getElementById("checkInDate").value = null;
             return false;
        }
       if (new Date(checkIn).getTime() > new Date(checkOut).getTime()) {
             alert("Check out date must be bigger than check in date");
             document.getElementById("checkOutDate").value = null;
             document.getElementById("checkInDate").value = null;
             return false;
        }
       return true;
   }
</script>

{% endblock %}