{% extends 'layout/base.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <a href="/thuoc/create" class="btn btn-success float-right m-2">Add</a>
                    </div>
                    <div class="card w-100">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Price Rate</th>
                                        <th scope="col">Price Value</th>
                                        <th scope="col">Rooms</th>
                                        <th scope="col">Function</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for a in add_price %}
                                        <tr>
                                            <th scope="row">{{a.id}}</th>
                                            <td>{{a.price_rate}}</td>
                                            <td>{{a.price_value}}</td>
                                            <td>{{a.rooms}}</td>
                                            <td>
                                                <a href="/admin/addprice/update/{{a.id}}"
                                                    class="btn btn-warning">Update</a>
                                                <a href="/admin/addprice/delete/{{a.id}}"
                                                    class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}