{% extends 'layout/base.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <a href="/room/create" class="btn btn-success float-right m-2">Add</a>
                    </div>
                    <div class="card w-100">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Room name</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Foreigner Rate</th>
                                        <th scope="col">Room_type_id </th>
                                        <th scope="col">Add_price_id</th>
                                        <th scope="col">Function</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for r in rooms %}
                                        <tr>
                                            <th scope="row">{{r.id}}</th>
                                            <td>{{r.name}}</td>
                                            <td>{{r.img}}</td>
                                            <td>{{r.foreigner_rate}}</td>
                                            <td>{{r.type_id}}</td>
                                            <td>{{r.add_price_id}}</td>
                                            <td>
                                                <a href="#"
                                                    class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalupdate">Update</a>
                                                <a href="/admin/rooms/delete/{{r.id}}"
                                                    class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="modalupdate" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Information</h4>
                                    </div>
                                    <div>
                                        <form action="" method="POST"></form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}