
<!--Footer start -->
<div class="footer ptb-100">
    <div class="footer-bg-opacity"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-footer mt-0">
                    <h3>Address</h3>
                    <div class="f-adress">
                        <p> Street: 1 Vo Van Ngan ,<br> Sub-district: Linh Chieu,<br> City: Thu Duc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-footer">
                   <h3>Quick Links</h3>
                   <div class="quick-item">
                        <ul>
                           <li><a href="/">Home</a></li>
                           <li><a href="/our-rooms">Rooms</a></li>
                           <li><a href="/aboutus">About us</a></li>
                           <li><a href="/contact">Contact</a></li>
                        </ul>
                   </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-footer">
                    <h3>Contact</h3>
                    <div class="get-touch">
                        <p><span>Call:</span> 0000000000</p>
                        <p><span>Email:</span> 2051012130tuong@ou.edu.vn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer end -->