<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hotel Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-autoi col-md-8">
                <li class="nav-item ">
                    <a class="nav-link" href="/bookings">Booking</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/guests">Guest</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="/">Hi {{ current_user.name}} !</a>
                </li>
                <li>
                    {% if current_user.avatar %}
                    <img src="{{current_user.avatar}}" alt="Avatar Logo" style="width:30px; height:30px"
                         class="rounded-pill">
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd"
                              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/register">Sign up</a>
                </li>
                {% endif %}
            </ul>
            <form method="get" class="d-flex" action="/">
                <input class="form-control me-2" name="kw" type="text" placeholder="Keyword...">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>