{% extends 'layout/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        {% for r in rooms %}
        <div class="col-xs-12 col-md-4" style="padding: 10px; margin-top: 20px;">
            <div class="card">
                <img class="card-img-top" src="{{ r.img }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ r.name }}</h4>
                    <h4 class="card-title">{{ r.roomtype.type }}</h4>
                    <p class="card-text">{{ r.roomtype.price }}$</p>
                    <a href="/bookings" class="btn btn-danger">Book</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination mt-1">
        {% for i in range(pages) %}
        <li class="page-item"><a class="page-link" href="/?page={{i+1}}">{{i+1}}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}